---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Kosugi+Maru');
.project-name { font-family: 'Kosugi Maru', sans-serif; }
.header-image {
    display: inline-block;
    background-color: #ccc;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 8em;
    border: 0;
    background-size: cover;
}
.page-header {
    padding-left: 0px;
    padding-right: 0px;
}
.main-content table {
    word-break: break-word;
}

.tube1280x720 {
  position: relative;
}
.tube1280x720::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
.tube1280x720 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide1440x839 {
  position: relative;
}
.slide1440x839::before {
  content: "";
  display: block;
  padding-top: 59.27083%;
}
.slide1440x839 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header_box {
  position: relative;
}
.header_box::before {
  content: "";
  display: block;
  padding-top: 50%;
}
.header_box iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

a.project-head:link,
a.project-head:visited,
a.project-head:hover,
a.project-head:active {
    color: #ffffff;
    text-decoration: none;
}

table.file-tree td {
    border-width: 0;
    vertical-align: middle;
    padding: 0em 0.5em;
}
table.file-tree td.file-tree-icon-cell {
    width: 2em;
    height: 2em;
    padding: 0em 0.25em;
}
table.file-tree td.file-tree-icon-cell img {
    width: 1.5em;
    height: 1.5em;
    margin: 0.25em 0.25em 0em 0.25em;
}
table.file-tree td.file-tree-icon-cell :first-child {
    margin: 0.25em 0.25em 0em 0.25em;
}

.header-side-r {
    padding: 0;
    height: 0;
    text-align: right;
}

.header-side-r a {
    position: relative;
    right: 1em;
}

.header-side-r img {
    width: 4em;
    height: 4em;
}

@media screen and (max-width: 42em)
{
    .wideimage-caption {
        max-width: 100%;
    }
    .wideimage-caption-block {}
}

@media screen and (max-width: 64em) and (min-width:42em)
{
    .wideimage-caption-block {
        display: table;
        width:100%;
        table-layout:fixed;
        word-break: break-all;
        word-wrap: break-word;
        border-spacing: 0.5em;
    }
    .wideimage-caption-block div {
        display: table-cell;
        vertical-align: top;
        width: 75%;
    }
    .wideimage-caption-block > div {
        display: table-row;
    }
    div.wideimage-caption {
        width: 25%;
    }
}

@media screen and (min-width: 64em)
{
    .wideimage-caption-block {
        display: table;
        width:100%;
        table-layout:fixed;
        word-break: break-all;
        word-wrap: break-word;
        border-spacing: 0.5em;
    }
    .wideimage-caption-block div {
        display: table-cell;
        vertical-align: top;
        width: 80%;
    }
    .wideimage-caption-block > div {
        display: table-row;
    }
    div.wideimage-caption {
        width:20%;
    }
}

.main-content .img-instruction-table {
    border-spacing: 0.5em;
}
.main-content .img-instruction-table * {
    border-width: 0;
}
.main-content .img-instruction-table td {
    width: 50%;
    vertical-align: top;
}



